# hCaptcha Configuration
# Get your keys from: https://dashboard.hcaptcha.com

PORT=3000

# hCaptcha Site Key (public, frontend verwenden)
HCAPTCHA_SITE_KEY=10000000-ffff-ffff-ffff-000000000001

# hCaptcha Secret Key (private, nur backend!)
HCAPTCHA_SECRET_KEY=0x0000000000000000000000000000000000000000

# Environment
NODE_ENV=development
